<html>
<head>
<link rel="stylesheet" href="../../confirm.css">
</head>
<body>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <style>
      body {
        font-family: 'Noto Sans', serif;
      }
    </style>

<div class="center">
  <h3>Your booking has been created</h3>
</div>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out" class="sign_out_button" />
</form>
</body>
</html>
