<form action="/property" method="post">
  <input type="text" name="name" placeholder="Property name"/>
  <input type="text" name="description" placeholder="Description"/>
  <input type="text" name="cost" placeholder="Cost per night"/>
  <input type="submit" value="Add" />
</form>
