<html>
<head>
<link rel="stylesheet" href="../../request.css">
</head>
<body>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <style>
      body {
        font-family: 'Noto Sans', serif;
      }
    </style>
  <div class="header">
  <h1> Book your get away! </h1>
  </div>
<div class="property">
<table class="behave">
  <thead>
    <tr>
      <td><%= @property.name %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @property.description %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>£<%= @property.cost %></td>
    </tr>
  </tfoot>
</table>
</div>

<h3> Request your holiday week </h3>

  <div class="buttons">
    <form action="/property/confirmed" method="post">
    <input type="submit" value="Christmas Week" class="week-button" />
    </form>
  </div>

    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" class="sign_out_button" />
    </form>
</head>
</body>
</html>
