</br>
</br>
<img src = https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/makersacademylogo/original.png?1560210076 style="width:250px;height:250px;"/>
</br>
</br>
</br>
<html>
<head>
  <link rel="stylesheet" href="../signup.css">
</head>
<body>
  <h2> <%= flash[:notice] %> </h2>
<link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
<form action="/" method="post">
  <input type="email" name="email" placeholder="email" class="signup-form"/>
  <input type="password" name="password" placeholder="password" class="signup-form"/>
  <div>
    </br>
  <input type="submit" value="Sign up" class="sign-up-button"/>
  </div>
</form>
<h5> Already have an account?</h5>
<form action="/sessions/new">
  <input type="submit" value="Log in" class="login-button"/>
</form>
</body>
</html>
