body {
  background-color: #ccdbfd;
  justify-content: center;
  text-align: center;
  color: #27003D;
  font-family: Arial, sans-serif;
}

.sign_out_button {
  background-color: #017cff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
  position:absolute;
  top:5;
  right:13;
  margin-top 30px;
}

.sign_out_button:hover {
  transform: scale(1.25, 1.25);
}

form {
  margin: auto;
  width: 300px;
}

form p {
  font-size: 60px;
}

.add-button {
  background-color: #017cff;
  border: none;
  color: white;
  padding:8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.add-button:hover {
  transform: scale(1.25, 1.25);
}
