body {
  background-color: #ccdbfd;
  justify-content: center;
  text-align: center;
  color: #27003D;
  font-family: Arial, sans-serif;
}

.sign_out_button {
  background-color: #017cff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
  position:absolute;
  top:5;
  right:13;
  margin-top 30px;
}

.sign_out_button:hover {
  transform: scale(1.25, 1.25);
}

table, th, td {
  text-align: center;
}

table.behave {
  width: 75%;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 100px 10px;
  background-color: #FAA307;


}

.behave {
  margin-left: auto;
  margin-right: auto;
}

.week-button {
  background-color: #017cff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

div.property {
  padding-top: 100px;
  padding-bottom: 10px;
}

div.buttons {
  padding-top: 10px
}

div.header {
  padding-top: 15px
}
